// Define reusable variables
$primary-color: #1B88F4;
$secondary-color: #2C384A;
$tertiary-color: #4B5665;
$accent-color: #EF4C5D;
$background-color: #212731;
$text-color: #fff;
$border-color: #E1E4E6;
$button-background-color: #1B88F4;
$button-text-color: #fff;

// Mixin for flexbox center alignment
@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

// Mixin for text styles
@mixin text-styles($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

// Header styles
h1 {
  @include text-styles(.9rem, 400, $tertiary-color);
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

span {
  font-weight: 700;
  color: $secondary-color;
}

h3 {
  @include text-styles(.9rem, 500, $primary-color);
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  color: #5C6874;
  flex: 1;
}

button {
  width: 80%;
  border: transparent;
  height: 40px;
  border-radius: 12px;
  background-color: $button-background-color;
  color: $button-text-color;
  font-weight: 400;
}

.header {
  background-color: $background-color;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: $text-color;

  @media screen and (max-width: 768px) {
    padding: 10px;
    flex-direction: column;
  }
}

.search-bar {
  display: flex;
  width: 25vw;
  margin-left: 25vw;

  a {
    @include text-styles(1rem, 700, $text-color);
  }

  @media screen and (max-width: 768px) {
    width: 50vw;
    margin-left: 15vw;
  }

  @media screen and (max-width: 480px) {
    width: 100vw;
    margin-left: 0;
  }
}

// WebsiteBuildersHeading styles
.website-builders-heading {
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  margin-top: 2rem;
  color: $secondary-color;
  width: 80vw;
}

.text {
  display: flex;
  gap: 1rem;
  border-top: 1.33px solid $border-color;
  border-bottom: 1.33px solid $border-color;

  h1 {
    @include text-styles(.9rem, 400, $tertiary-color);
  }
}

.top-relevant {
  right: 0 + 10vw;
  position: absolute;
}

.text-2 {
  display: flex;
  gap: 3rem;

  font-size: .9rem;
  font-weight: 400;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
  }
}

// NewComponent styles
.new-component {
  width: 80vw;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  img {
    width: 141px;
    height: 103px;
    top: 422px;
    left: 326px;
  }

  @media screen and (max-width: 768px) {
    width: 90vw;
  }
}

.left-column {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-column {
  flex: 6;
}

.right-column {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  div {
    background-color: #F3F9FF;
    width: 8rem;
    height: auto;
    text-align: center;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #074786;
  }
}

.star-rating {
  div {
    height: auto;
    background-color: transparent;
    color: orange;
  }
}

.list {
  background-color: #FFF4ED;
  height: auto;
  padding: 1rem;

  li {
    font-size: .9rem;
    color: $tertiary-color;
    font-weight: 400;
    margin-bottom: .6rem;
    list-style-type: none;
  }

  span {
    background-color: white;
    color: $primary-color;
    font-size: .9rem;
    font-weight: 400;
    padding-right: .7rem;
    text-align: center;
  }
}

.div2 {
  li {
    list-style-type: symbols(correct);
  }
}

.downBox {
  width: 30vw;
  height: 425px;

  span {
    background-color: #F2F4F7;
    font-weight: 400;
    font-size: 1rem;
    color: #074786;
    margin-left: .4rem;
  }
}

.img {
  width: 141px;
  height: 103px;
}

.text3 {
  h2 {
    font-size: 1rem;
    font-weight: 700;
    color: #626E79;
    text-align: center;
  }

  h1 {
    font-weight: 400;
    color: #626E79;
    font-size: .9rem;
  }

  h3 {
    font-weight: 400;
    font-size: 1.2rem;
    color: #5C6874;
  }

  span {
    font-weight: 400;
    color: #9FA9B3;
    font-weight: .7rem;
  }

  span:nth-of-type(2) {
    color: $accent-color;
  }
}

.downCoin {
  display: flex;
}

.dbox2 {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    flex: 1;
    width: 1rem !important;
  }

  h4 {
    flex: 2;
  }
}

// Footer styles
.footer {
  background-color: $background-color;
  color: $text-color;
  padding: 3rem;
  @include flex-center(row);

  // Footer column styles
  .footer-column {
    flex: 1;
    margin: 0 10px;

    h3 {
      @include text-styles(1.5rem, normal, $text-color);
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 5px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 10px;
  }
}

